<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">

	<script src="js/user.js"></script>
</head>
<body>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Login</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-7">
                <div class="login-wrap">
                    <form th:action="@{/login}" class="signin-form d-md-flex" method="post">
                        <div class="half p-4 py-md-5">
                            <div class="w-100">
                                <h3 class="mb-4">Sign In</h3>
                            </div>
                            <div class="w-100">
                                <span style="color: red; white-space: pre-line;" th:text="${msg != null ? msg : ''}">Error Msg</span>
                            </div>
                            <div class="form-group mt-3">
                                <label class="label" for="login-id">ID</label>
                                <input type="text" id="login-id" class="form-control" placeholder="Enter Your ID"
                                       name="id" required>
                            </div>
                            <div class="form-group">
                                <label class="label" for="login-pwd">Password</label>
                                <input id="login-pwd" type="password" class="form-control" placeholder="Enter Your Password"
                                       name="pwd" required>
                                <span toggle="#login-pwd"
                                      class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="w-100 btn btn-primary rounded px-3">
                                    Login
                                </button>
                            </div>
                        </div>
                        <div class="half p-4 py-md-5 bg-primary">
                            <div class="form-group">
                                <button type="button" class="form-control btn btn-secondary rounded submit px-3"
                                        onclick="javascript:location.href='/sign/page'">
                                    Sign me in now
                                </button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50 text-left">
                                    <label class="checkbox-wrap checkbox-primary mb-0">Remember Me
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="#">Forgot Password</a>
                                </div>
                            </div>
                            <p class="w-100 text-center" style="color:white;">&mdash; Or Sign In With &mdash;</p>
                            <div class="w-100">
                                <p class="social-media d-flex justify-content-center">
                                    <a href="javascript:void(0);" onclick="onClickGoogleLogin();"
                                       class="social-icon d-flex align-items-center justify-content-center"><span
                                            class="fa fa-google"></span></a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>

